* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #f9f5ff;
  color: #023436;
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  min-height: 200px;
  padding: 25px;
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #d4c2fc;
  border-radius: 15px;
}
h1 {
  text-align: center;
}
h1,
form,
p {
  margin-bottom: 20px;
}

.btn {
  margin-top: 20px;
  padding: 10px 15px;
  border-radius: 5px;
  border: none;
  font-size: 1.5rem;
  font-weight: bold;
  cursor: pointer;
  background-color: #023436;
  color: #f9f5ff;
}

.error {
  padding: 15px;
  background-color: #023436;
  color: #f9f5ff;
  border-radius: 10px;
  letter-spacing: 2px;
  font-weight: bold;
  text-align: center;
}
